Flask==0.10.1
Flask-JWT==0.2.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
pyasn1==0.1.7
python-ldap==2.4.18
requests==2.20.0
Werkzeug==0.9.6
wsgiref==0.1.2
gunicorn==19.5.0
cryptography==1.0.2
Unidecode==0.04.17
bcrypt==2.0.0
jsonschema==2.5.1