{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}GSenha{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Add Password</h1>
</div>

{{ wtf.quick_form(form,form_type="horizontal", horizontal_columns=('lg', 5, 4)) }}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Password Generation</h4>
      </div>
      <div class="modal-body">

<div id="gerador">
<table align="center" border="1" class="table table-bordered">
<tr>
<td valign="middle" align="center">
<center>Passowrd generation</center>
<form name="passform">
<p>
Length: <select name="length">
  <option value="1">01</option>
  <option value="2">02</option>
  <option value="3">03</option>
  <option value="4">04</option>
  <option value="5">05</option>
  <option value="6">06</option>
  <option value="7">07</option>
  <option value="8">08</option>
  <option value="9">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option selected value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
  <option value="32">32</option>
  <option value="33">33</option>
  <option value="34">34</option>
  <option value="35">35</option>
  <option value="36">36</option>
  <option value="37">37</option>
  <option value="38">38</option>
  <option value="39">39</option>
  <option value="40">40</option>
  <option value="41">41</option>
  <option value="42">42</option>
  <option value="43">43</option>
  <option value="44">44</option>
  <option value="45">45</option>
  <option value="46">46</option>
  <option value="47">47</option>
  <option value="48">48</option>
  <option value="49">49</option>
  <option value="50">50</option>
</select></p>
<p>
Password: <input name="passbox" type="text" size="50" tabindex="1" id="passwd3"></p>
<p>
<input class="btn btn-default" type="button" value="Generate" onClick="generatePasswd(passform.length.value)" tabindex="2"> <input type="reset" class="btn btn-default" value="Clear" tabindex="3"></p>
</form>
</td>
</tr>
</table>

</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="savePasswd()">Accept Passwd</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/js/generatePasswd.js" integrity="sha512-QcY4+D0arTbVQYPt0IAbcjZBnukfJr/CLj2M9xa/7J41HooJ3NWjj4kImnhJcLmT+lU3Kj8aP0mbLM/e+8LLhQ=="></script>
<script type="text/javascript" src="/static/js/generatePasswdModal.js" integrity="sha512-LCTPOIpdVTS3uuyQ390QbzjYmRLvU7R1QoSc4edxNKBTb6QVVpWDV61VqPI/8QsEiEz0iGMRFjjeKWujsYxbBQ=="></script>
<script>
window.onload=start;
</script>

{% endblock %}
