{% extends "base4.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}GSenha{% endblock %}


{% block page_content %}
<link rel="stylesheet" href="/static/css/style.min.css" integrity="sha512-CD0HDOR/juTqWhxQJe9c7AP7/XaZpU+WrRtcZma4VAq2iGgTU+a/U9lvesC98jOWj71SqcjjQhiNq8+vfUHMPQ=="/>

<div class="page-header">
    <h1>Passwords</h1>
</div>

<div style="width:100%;">


<div style="float:left; width:50%; overflow-y:auto; height: 400px; width: 500px;">
<div class="input-group" id="search" style="">
<input type="text" placeholder="Search" id="tree1_q" value="" class="input" style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;"/>
</div>


<div id="tree1">
<ul >
<li><a> Personal Passwords</a>
  {% for folder in tree['Folders'][0]['Personal Folders'] %}
  {% set tmp = folder['name'].split('/') %}
  {% set folder_name = tmp[(tmp|length)-1] %}
    <ul>
    <li><a>  {{ folder_name }} </a>
        {% for password in passwd['Personal Passwords'][folder['name']] %}
        <ul>

                {% set showid = "passwd" + password['ID']|string %}
                {% set id = password['ID'] %}
                {% set idName = "name" + password['ID']|string %}
                {% set encrypted_passwd = password['password'] %}

            <li data-jstree='{"disabled":true}'>
                <a onclick="showPassword('{{ showid }}')" id="{{ idName }}" passwdname="{{ password['name'] }}">{{ password['name'] }}</a>
            </li>
        </ul>
        {% endfor %}
        {% if folder['children'] is defined %}
            {% for children_folder in folder['children'] %}
            {% set tmp2 = children_folder['name'].split('/') %}
            {% set folder_name2 = tmp2[(tmp2|length)-1] %}        
        <ul>
        <li><a> {{ folder_name2 }} </a>
                {% for password in passwd['Personal Passwords'][children_folder['name']] %}
                <ul>
                    {% set showid = "passwd" + password['ID']|string %}
                    {% set id = password['ID'] %}
                    {% set idName = "name" + password['ID']|string %}
                    {% set encrypted_passwd = password['password'] %}

                <li data-jstree='{"disabled":true}'>
                    <a onclick="showPassword('{{ showid }}')" id="{{ idName }}" passwdname="{{ password['name'] }}">{{ password['name'] }}</a>
                </li>
        </ul>
                {% endfor %}

        </ul>
            {% endfor %}
        {% endif %}
                    
    </li>
    </ul>
    {% endfor %}
</li>
</ul>

<ul >
<li><a> Shared Passwords</a>
    {% for group in tree['Folders'][1]['Group Folders'] %}
        {% for folder in group %}
        {% set tmp = folder['name'].split('/') %}
        {% set folder_name = tmp[(tmp|length)-1] %}
        <ul>
        <li><a>  {{ folder_name }} </a>
            {% for password in passwd['Shared Passwords'][folder['name']] %}
            <ul>

                    {% set showid = "passwd" + password['ID']|string %}
                    {% set id = password['ID'] %}
                    {% set idName = "name" + password['ID']|string %}
                    {% set encrypted_passwd = password['password'] %}

                <li data-jstree='{"disabled":true}'>
                    <a onclick="showPassword('{{ showid }}')" id="{{ idName }}" passwdname="{{ password['name'] }}">{{ password['name'] }}</a>
                </li>
            </ul>
            {% endfor %}
            {% if folder['children'] is defined %}
                {% for children_folder in folder['children'] %}
                {% set tmp2 = children_folder['name'].split('/') %}
                {% set folder_name2 = tmp2[(tmp2|length)-1] %}        
            <ul>
            <li><a> {{ folder_name2 }} </a>
                    {% for password in passwd['Shared Passwords'][children_folder['name']] %}
                    <ul>
                        {% set showid = "passwd" + password['ID']|string %}
                        {% set id = password['ID'] %}
                        {% set idName = "name" + password['ID']|string %}
                        {% set encrypted_passwd = password['password'] %}

                    <li data-jstree='{"disabled":true}'>
                        <a onclick="showPassword('{{ showid }}')" id="{{ idName }}" passwdname="{{ password['name'] }}">{{ password['name'] }}</a>
                    </li>
            </ul>
                    {% endfor %}

            </ul>
                {% endfor %}
            {% endif %}
                        
        </li>
        </ul>
        {% endfor %}
    {% endfor %}        
</li>
</ul>
</div>
</div>


<div style="float:right; width:50%;">

<div id="senhas pessoais">
<!-- Senhas Pessoais !-->    
    {% for folder in folders['Personal Folders'] %}
        {% for password in passwd['Personal Passwords'][folder] %}
                {% set showid = "passwd" + password['ID']|string %}
                {% set id = password['ID'] %}
                {% set encrypted_passwd = password['password'] %}

                <div  style="display: none; width: 300px;" class="panel panel-primary" id="{{showid}}" name="{{ encrypted_passwd }}">
                    <div class="panel-heading">{{ password['name'] }}<div class="btn-group btn-group-xs pull-right"><button onclick="showPassword('{{ showid }}')" title="Close" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button></div></div>
                        <div class="panel-body">

                        <form>
                        <div class="form-group">
                         {% set senhaid = "senha" + password['ID']|string %}
                         {% set buttonid = "button" + password['ID']|string %}
                         {% set copyid = "copy" + password['ID']|string %}
                         {% set clipid = "clip" + password['ID']|string %}
                         {% set descriptionid = "description"+ password['ID']|string %}
                         {% set urlid = "url"+ password['ID']|string %}
                         {% set loginid = "login"+ password['ID']|string %}

                            <label for="{{ senhaid }}">Password:</label>
                            <div class="input-group" name="clip" id="{{ clipid }}">
                                <input type="text" style="overflow:auto;resize:none;" readonly class="form-control" rows="1" id="{{ senhaid }}">
                                <span class="input-group-addon pointer" title="Show / hide" id="{{ buttonid }}" onclick="hideShowPass('{{ buttonid }}')"><span class="glyphicon glyphicon-eye-open"></span></span>
                            </div>
                        </div>                            
        
                             <div class="form-group">
                                 <label for="url">URL:</label>
                                 <input type="text" style="overflow:auto;resize:none" readonly class="form-control" rows="1" id="{{ urlid }}" value="{{ password['url'] }}">
                             </div>

                             <div class="form-group">
                                 <label for="login">Login:</label>
                                 <input type="text" style="overflow:auto;resize:none" readonly class="form-control" rows="1" id="{{ loginid }}" value="{{ password['login'] }}">
                             </div>

                             <div class="form-group">
                                 <label for="description">Description:</label>
                                 <textarea type="text" style="overflow:auto;resize:none" readonly class="form-control" rows="3" id="{{ descriptionid }}">{{ password['description'] }}</textarea>
                             </div>

                             <div class="form-group">
                                    <button class="btn btn-primary" onclick="getIdPasswd('{{ password['ID'] }}')"
                                    type="button"> <span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                    
                                    <button class="btn btn-danger" onclick="deletePass('{{ password['ID'] }}')" 
                                    type="button"> <span class="glyphicon glyphicon-trash"></span> Delete</button>
                                 </div>
                         </form>
                    </div>
                </div>
        {% endfor %}
    {% endfor %}
</div>
<div id="senhas compartilhadas">
<!-- Senhas Compartilhadas !-->    
    {% for folder in folders['Group Folders'] %}
        {% for password in passwd['Shared Passwords'][folder] %}
                {% set showid = "passwd" + password['ID']|string %}
                {% set id = password['ID'] %}
                {% set encrypted_passwd = password['password'] %}

                <div  style="display: none; width: 300px;" class="panel panel-primary" id="{{showid}}" name="{{ encrypted_passwd }}">
                    <div class="panel-heading"> {{ password['name'] }}<div class="btn-group btn-group-xs pull-right"><button onclick="showPassword('{{ showid }}')" title="Close" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button></div></div>
                        <div class="panel-body">

                        {% set senhaid = "senha" + password['ID']|string %}
                        {% set buttonid = "button" + password['ID']|string %}
                        {% set copyid = "copy" + password['ID']|string %}
                        {% set clipid = "clip" + password['ID']|string %}
                        {% set descriptionid = "description"+ password['ID']|string %}
                        {% set urlid = "url"+ password['ID']|string %}
                        {% set loginid = "login"+ password['ID']|string %}                                               
                        
                        <form>
                        <div class="form-group">
                            <label for="{{ senhaid }}">Password:</label>
                            <div class="input-group" name="clip" id="{{ clipid }}">
                                <input type="text" style="overflow:auto;resize:none;" readonly class="form-control" rows="1" id="{{ senhaid }}">
                                 <span class="input-group-addon" id="{{ buttonid }}" onclick="hideShowPass('{{ buttonid }}')"><span class=" glyphicon glyphicon-eye-open"></span></span>
                             </div>
                        </div>
        
                             <div class="form-group">
                                 <label for="url">URL:</label>
                                 <input type="text" style="overflow:auto;resize:none" readonly class="form-control" rows="1" id="{{ urlid }}" value="{{ password['url'] }}">
                             </div>

                             <div class="form-group">
                                 <label for="login">Login:</label>
                                 <input type="text" style="overflow:auto;resize:none" readonly class="form-control" rows="1" id="{{ loginid }}" value="{{ password['login'] }}">
                             </div>

                             <div class="form-group">
                                 <label for="description">Description:</label>
                                 <textarea type="text" style="overflow:auto;resize:none" readonly class="form-control" rows="3" id="{{ descriptionid }}">{{ password['description'] }}</textarea>
                             </div>

                            <div class="form-group">
                                    <button class="btn btn-primary" onclick="getIdPasswd('{{ password['ID'] }}')" 
                                    type="button"> <span class="glyphicon glyphicon-pencil"></span> Edit</button>

                                    <button class="btn btn-danger" onclick="deletePass('{{ password['ID'] }}')" 
                                    type="button"> <span class="glyphicon glyphicon-trash"></span> Delete</button>
                            </div>
                         </form>
                    </div>
                </div>
        {% endfor %}
    {% endfor %}
</div>
</div>


</div>
<script type="text/javascript" src="/static/js/forge.min.js" integrity="sha512-G0FCSGfL7JE9vZW3P02yy3gYNjcV6atze6VH1WxBE+Ulwgw20S12f6Ijnlevc+6riVFZadeZoZpwJE5jI11hZw=="></script>
<script type="text/javascript" src="/static/js/jquery.min.js" integrity="sha512-nhY06wKras39lb9lRO76J4397CH1XpRSLfLJSftTeo3+q2vP7PaebILH9TqH+GRpnOhfAGjuYMVmVTOZJ+682w==" ></script>
<script type="text/javascript" src="/static/js/jstree.min.js" integrity="sha512-MR6zYveOuENWQVCZ6oDvrbySpOsDwGLoKxPt3p0dM/Ce3nZk+IqFgqr+qx94WtM84THJJOmGHMwazsUJn43RhQ==" ></script>
<script type="text/javascript" src="/static/js/showPass.js" integrity="sha512-sehoe+5LG4F+EuFmnxXN28JXGd9W2bm5puqYXzpsx5Sxa1tGvGQt2MlYJh3NrJUfyQvfgQ8n0wrSOTaZiJsNoQ=="></script>
<script type="text/javascript" src="/static/js/deletePass.js" integrity="sha512-a+jjBwVFnglUnlScqDTWrPQH/V6kl9gGPMLFYvVmIHb/cr7Hh+JSwwSpbC6WbP5lbe3xhxEQmxXQRQRBdGb5JQ=="></script>
<script type="text/javascript" src="/static/js/updatePass.js" integrity="sha512-mlssXdcA/iLeJwJYW/R81zrc3XHHqxTjaRBbWcUZpaVU9iTQ2dAbJco3afxRwQ8IStY4fCNMId58pOkUZJk9YQ=="></script>
<script type="text/javascript" src="/static/js/cleanSessionStorage.js" integrity="sha512-cuajYMxTJxQ/PMt1QtaTfxhkfPX9nPzkBBV6zE+ejaanYX8lF7J7NP72VLiCpVQCZpmUB12lRlwOIGE2juyyLA=="></script>
<script type="text/javascript" src="/static/js/clipBoard.js" integrity="sha512-jtmHtfYhMoVpXc3XMi6z2B5wBd2LQciR8fAhgmiHHsaS7zUk07k3ey9OZuGTcqsZIhCxVm+z4TKLOQRm8E7qeg=="></script>
<script type="text/javascript" src="/static/js/exportPasswd.js" integrity="sha512-1RdGjG/XoIdR+8mFZyrAxub3fhIKhOD2hR1F9dqWSQ/4eNXG5iV66rZsqMivkJSZmtxAK3f7w/RAHRcWW5C/Jw=="></script>
<script type="text/javascript" src="/static/js/purify.min.js" integrity="sha512-+M6KXBNkTtjDRCj249YUWuS+TAjbdJofIugBtTIT7bKl/jra86958tIObyUB1gfsYqjXMH4UrrRPoGngsDjGLg=="></script>
<script>
jQuery(function($) {
  $('#tree1').jstree({"plugins" : [ "search" ]});
  var to = false;
  $('#tree1_q').keyup(function () {
    if(to) { clearTimeout(to); }
    to = setTimeout(function () {
      var v = $('#tree1_q').val();
      $('#tree1').jstree(true).search(v);
    }, 250);
  });
});
$("#tree1").bind("select_node.jstree", function (e, data) {
    return data.instance.toggle_node(data.node);
});
window.onload=delIdPasswd;
window.onload=check_clipboard;
</script>



{% endblock %}