{% extends "bootstrap/base.html" %}

{% block title %}GSenha{% endblock %}

{% block navbar %}
<link rel="stylesheet" href="/static/css/navbar.css" integrity="sha512-I/u7v09+1Fyhja1dRsw/UHbJAsknPAV/knVqPy6LeSh8ti7ghTHCiw0WG5H3jLUAh8bWpAACsxVpcK4OWpqmmA==">

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/passwords">GSenha</a>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add Password <span class="             caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/add/password/personal">Personal</a></li>
                            <li><a href="/add/password/group">Group</a></li>
                            <li><a href="/add/password/extuser">To other user</a></li>
                            <li><a href="/add/password/extgroup">To other group</a></li>
                          </ul>
                        </li>
                <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Folder <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/add/folder">Add</a></li>
                            <li><a href="/delete/folder">Delete</a></li>
                          </ul>
                        </li> 
                    <li>
                        <a href="/update/pubkey">Update Pub Key</a>
                    </li>
                    <li>
                        <a href="/unlock">Unlock User</a>
                    </li>
                    <li>
                        <a href="/import">Import Passwords</a>
                    </li>
                    <li>
                        <a onclick="exportPasswd()">Export Passwords</a>
                    </li>                                 
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    {% set class = "alert alert-" + category|string %}
    <div class="{{ class }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
